<h1>Search Book</h1>
<div style="display:flex;flex-direction:column">
<label>Select Book
<select class="js-data-example-ajax" style="width:200px;position:inherit;margin-bottom:10px"placeholder="Type Book name.."></select>  
</label>
<label>Select Stock
<input type="number"></input>
</label>  
</div>
<div class="clearfix">
<button type="button" onclick="hide_modal()" class="cancelbtn">Cancel</button>
<button type="button" onclick="hide_modal()" class="deletebtn">Add</button>
</div>

<script>
{% comment %} $('#mySelect2').select2({
    ajax: {
    url: 'https://api.github.com/orgs/select2/repos',
    data: function (params) {
      var query = {
        search: params.term,
        type: 'public'
      }
    processResults: function (data) {
      // Transforms the top-level key of the response object from 'items' to 'results'
      return {
        results: data.items
      };
    } 
    }
  }
}); {% endcomment %}
</script>
