<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Book Name</th>
            <th style="text-align:center">Stock</th>
            <th style="text-align:center">Action</th>
        </tr> 
    </thead>
    <tbody>
    {% for entry in entries %}
        <tr>
            <td>{{ entry.name }}</td>
            <td style="text-align:center" >{{ entry.stock }}</td>
            <td style="display:flex;flex-">

            <button type='button' class="btn btn-default" onclick="crud('view',{{ entry.id }})">
            <i class="fa fa-eye"></i>      
            </button>

            <button type='button' class="btn btn-default" onclick="crud('delete',{{ entry.id }})">
            <i class="fa fa-trash"></i>      
            </button>

            <button type='button' class="btn btn-default" onclick="crud('update',{{ entry.id}})">
            <i class="fa fa-edit"></i>      
            </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>