<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Book Name</th>
            <th>Stock</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
            <td style="display:flex;flex-">

            <button type='button' class="btn btn-default" onclick="crud('view')">
            <i class="fa fa-eye"></i>      
            </button>

            <button type='button' class="btn btn-default" onclick="crud('delete')">
            <i class="fas fa-trash-alt"></i>      
            </button>

            <button type='button' class="btn btn-default" onclick="crud('update')">
            <i class="fa fa-edit"></i>      
            </button>
            </td>
        </tr>
    </tbody>
</table>